*, *::before, *::after {
    box-sizing: border-box;
}

@media (max-width: 1024px) and (min-width: 480px) {
    .only-pc {
        display: block;
        width: 100vw;
    }
    .menu, .menu2 {
        display: none;
    }
     .logo {
        position: absolute;
        left: 7rem;
    }
}


@media (max-width:479px) {
    .only-pc {
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }
    .menu, .menu2 {
        display: none;
    }
     .logo {
        display: block;
        position: static;
        transform: none;
        margin-top: calc(1rem + 4px);
        margin-left: calc(1rem - 9px);
    }
    .header__menu-toggle {
        display: block;
        font-size: 2rem;
    }

    /*----------- header ----------*/

    .main-container .mainimg {
        height: 31rem;
        background-size: 206%;
    }

    .main-container a {
        position: relative;
        top: 11rem;
    }
    .main-typo {
        font-size: 5rem;
        white-space: nowrap;
    }
    .main-best .wrap .main-section__title {
        font-size: 2.5rem;
        padding: 0;
        margin-left: 1.2rem;
        margin-top: -5rem;
        line-height: 3.3rem;
    }
    .break {
        display: block;
    }
    .main-best__new-bg {
       width: 100%;
       height: 18rem;
       background-image: url(/img/9b2a1fef5e951fb7e8e572956a9e365a.jpg);
       background-size: cover;
       background-position: center;
       margin: 1rem auto;
    }
    .main-best__new-bg img {
        display: none;
    }
    .jt-btn--1-wrap {
        position: relative;
        margin-top: -0.4rem;
    }
    .main-best .wrap .main-best__new-content h3 {
        margin: 2.5rem auto 0rem;
        font-size: 1.8rem;
    }
    .main-best .wrap .main-best__new-content>p {
        font-size: 0.7rem;
        margin-top: -0.3rem;
        margin-bottom: 0
    }
    .jt-btn--1 {
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }
    .jt-icon {
        padding: 0.3rem;
    }
    .main-best__list-wrap {
        overflow: visible;
        margin: 1.5rem 0 0 1rem;
        height: 37rem;
    }
    .swiper-button-next, 
    .swiper-button-prev {
      display: none ; /* 네비게이션 버튼 숨김 */
    }

    .mySwiper .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mySwiper .swiper-slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* 이미지가 잘리지 않도록 */
    }

    .swiper-pagination-container {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
      .swiper-pagination-bullet {
        background-color: rgb(151, 151, 151);
        width: 10px;
        height: 10px;
        opacity: 0.7;
    }
    .swiper-pagination-bullet-active {
        background-color: #5e5d5d;
        opacity: 1;
    }

    /*----------- main-best ----------*/

    .main-ingredient .wrap .main-ingredient__title {
        font-size: 1rem;
        text-align: left;
        margin: 4rem auto 1rem;
    }
    .main-ingredient .wrap .main-ingredient__title .jt-typo--04 {
        text-align: left;
    }
    .main-ingredient__title--highlight>i {
        height: 1.3rem;
    }
    
}